<div class="alert alert-primary" role="alert">
    <strong class="text-capitalize">Hola <%=current_user.name%>!</strong> Registra los datos solicitados de la cuenta bancaria que deseas registrar. Debes llenar los campos obligatorios correctamente, los demas son opcionales.
</div>

<h3 class="">Registrar Nueva Cuenta</h3>

<%= render 'form', bank: @bank %>