<div id="sidebar-container" class="bg-light border-right">
    <div class="logo">
        <span class="h4 font-weight-bold mb-0">Otacar Cambios</span>              
        <button class="btn btn-primary text-dark ml-1 d-none" id="menu-toggle2" style="margin-top:-10px"><i class="fas fa-bars"></i></button>
    </div>
    <div class="menu">
        <%if current_user.is_normal_user?%>
        <a href="/transactions/new" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0"><i class="fas fa-comments-dollar lead mr-1"></i> Enviar Dinero</a>

        <a href="/dhasboard" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0"><i class="fas fa-calculator lead mr-2"></i> Calcular Envio</a>


        <a href="/banks" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0"><i class="far fa-file-alt lead mr-3"></i>Cuentas Registradas</a>

        <a href="/transactions" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0"><i class="fas fa-file-invoice lead mr-3"></i>Transacciones Realizadas</a>

        <a href="/status_transactions" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0"><i class="fas fa-tasks lead mr-2"></i> Estatus de mis transacciones</a>

        <!--
        <a href="#" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0"> <i class="icon ion-md-settings lead mr-2"></i> Configuración</a>
        -->
        <%end%>

        <%if current_user.is_admin?%>
        <a href="/rates" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0"><i class="fas fa-hand-holding-usd lead mr-2"></i>Tasas</a>
        <%end%>
        <a href="/users/sign_out" class="list-group-item list-group-item-action text-muted bg-light p-3 border-0" rel="nofollow" data-method="delete"> <i class="far fa-arrow-alt-circle-left lead mr-2"></i>Cerrar Sesión</a>

    </div>

</div>
