<div class="contenedor2">
    <div class="contenedor">
        <div class="content">
            <h3>Gracias por registrarte!!!</h3>
            <p style="margin-top:30px; margin-bottom:30px">
                Su cuenta fue creada con exito. Acceda a traves del enlace de confirmacion que le fue enviado a su correo electronico para confirmar su cuenta y terminar con el proceso de registro. Si el correo no se encuentra en su bandeja de entrada revice en su bandeja de spam o correo no deseado.
            </p>
            <button class="btn transparent">
                <a href="/" style="color:#fff">Ir al Inicio</a>
            </button>
        </div>
    </div>
</div>

<script>
    var cuerpo = document.getElementById('bodys');

    cuerpo.classList.add('body_fondo');
</script>