<h3 class="text-primary mb-4">Registrar Tasas</h3>
<%@digit = 3%>
<%@vista = "new"%>
<%= render 'form', rate: @rate, collection: @digit %>

<%= render 'partials/scriptTasas',rate: @rate, collection: @digit, collection: @vista%>