<div class="container small-container center-block">
    <div class="p-3">
        <h1 class="text-primary">Registrar Tasas</h1>
        <%@digit = 0%>
        <%= render 'form', rate: @rate, collection: @digit %>

        <%= render 'partials/scriptTasas',rate: @rate, collection: @digit%>
    </div>
</div>